/* mingcuteの設定を上書き*/

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
}

footer{
    padding:10px;
    margin-top:30px;
}

.chip{
    background:#53536a;
}
.chip a{
    color:#eaeaea;
}
.chip a:hover{
    text-decoration:none;
}

.chip img{
    background:#ffffff;
}
.chip span.avatar-font{
    font-size:18px;
    font-weight:normal;
    padding:3px 0px 0px 3px;
}
.twitter {
    background:#00bfff;
    color:#ffffff;
    
}
.instagram {
    background:#8a3310;
    color:#ffffff;
}
.youtube{
    background:#c4302b
}

.line_sns{
    background:#00B900;
    color:#ffffff;
}
.github{
    background: #333;
    color:#ffffff;
}
/*カード用スタイル*/
/* カード全体 */
.mini-card {
    display:flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    background-color: #f9f9f9;
    margin: 5px auto;
    font-size:0.8em;
  }
.mini-card a:hover{
    text-decoration: none;
}
.mini-card img {
    all:initial;
    display:inline-block;
    width: 50px;
    height:50px;
  }
  .mini-card span {
    all:initial;
    display:inline-block;
    font-size:50px;
    width: 50px;
  }
  
  /* テキスト部分 */
  .mini-card p {
    all:initial;
    display:inline-block;
    margin-left: 10px;
    color: #333;
    font-size: 1.0em;
  }
  .mini-card p::first-line {
    font-size: 1.1em;
    font-weight:700;
  }