/* mingcuteの設定を上書き*/

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
}

footer{
    padding:10px;
    margin-top:30px;
}

.chip{
    background:#53536a;
}
.chip a{
    color:#eaeaea;
}
.chip a:hover{
    text-decoration:none;
}

.chip img{
    background:#ffffff;
}
.chip span.avatar-font{
    font-size:18px;
    font-weight:normal;
    padding:3px 0px 0px 3px;
}
.twitter {
    background:#00bfff;
    color:#ffffff;
    
}
.instagram {
    background:#8a3310;
    color:#ffffff;
}
.youtube{
    background:#c4302b
}

.line_sns{
    background:#00B900;
    color:#ffffff;
}
.github{
    background: #333;
    color:#ffffff;
}
.card {
    margin-bottom:10px;
}