/* リンクカード */
.link-box{border:1px solid #e1e1e1;padding:10px;
  display:flex;
  margin:10px 0px 10px 0px;
  max-width:800px;}

.img-box{width:25%;
  float:left;}
.img-box div{min-height:100px;
  background-size:cover;
  background-position:center center;}
.text-box{width:75%;float:left;
  padding-left:20px;
  line-height:1.5;margin:0;}
.text-box .title{font-size:1.2em;
  font-weight:600;
  color:#428bca;padding:0;margin:0;}
.text-box .description{font-size:0.8em
  ;color:#333;padding:0;}

@media only screen and (max-width:479px){.img-box div{min-height:80px;}
.text-box{margin-left:10px;line-height:1.5;}
.text-box .title{font-size:1.2em;margin:0;}
.text-box .description{font-size:0.8em;margin-top:5px;}}

 /* 記載例
<a href="https://codepen.io/pen/" style="text-decoration: none;">
 <div class="link-box">
  <div class="img-box">
   <div style="background-image: url('https://placehold.jp/150x150.png');"></div>
  </div>
  <div class="text-box">
   <p class="title">仮の画像タイトル</p>
   <p class="description">https://placehold.jp/150x150.png仮の画像</p>
 </div>
</div></a>
 */
