body{background:#f8fbf8;}

h1{text-align: center; margin-top:1.0em;}
h2{text-align: center; font-size:1.4em; margin-top:2.0em;}
h3{font-size:1.0em; margin:1.0em 1.4em 0.4em 1.4em;font-weight: 600;}
p{margin-bottom: 1rem; }
.sns{border-radius: 15px;
     height:30px;
     line-height: 2.6em;}
.card{border-radius: 5px;display:flex;
	font-size:0.86em;
    border:solid 1px #888;
    padding:5px;
    margin:5px;
}

i{font-size:1.2em;}
.card .text{display:block; padding:5px; height-min:50px;vertical-align:middle;}
.card .img{display:block; width:50px; padding:5px;vertical-align:  middle;}
.card img{width:50px;}
a:link, a:visited, a:hover, a:active{text-decoration:none; color:#432f2f;}

