.addprof {
    border: 2px solid #e6bfab;
    box-sizing: border-box;
    width: 100%; max-width:800px;
    padding:0px; margin: 20px 0 20px 0;
}
.addprof a{ color:#6c3524; text-decoration:none;}

.addprof-title{
   padding:5px 15px 5px 15px;
   color:#bd6856;font-weight:700;
   background-color:#fdede4;
}
.addprof-body {
    display: -webkit-flex; display: flex;
    width: 100%; box-sizing: border-box;
}

.addprof-left {width: 20%; padding: 10px;}
.addprof-right {width: 80%; padding: 10px;}

.addprof-icon {
    display: block; margin: 0 auto;
    width: 100px;height: 100px;
    border-radius: 50%;}

.addprof-sns i{
    margin-top:10px;
    letter-spacing:0.4em;
    font-size:1.7em; font-style:normal;}

/* アイコンフォント部分 クラス名称の変更不可 */
.blogicon-twitter{color:#1DA1F2;}
.blogicon-gist{color:#000;}
.blogicon-youtube{color:#FF0000;}
.blogicon-hatenablog{color:#999;}
.addprof-sns img{width:34px; border-radius: 50%; margin: 0 auto}
/* ここまで */

.addprof-id {font-size: 100%; text-align: center;}
.addprof-banner{
 width:auto; margin-top:5px;
 padding:5px 10px 5px 10px;
 border:1px solid #e8d3ca;
 background:#f7f6f5;
}
.addprof-description {}
/* スマートフォン */
@media only screen and (max-width: 767px) {
  .addprof-body {
      -webkit-flex-wrap: nowrap; 
      flex-wrap: wrap;
  }
    .addprof-left {
      width: 100%;
      padding: 20px 20px 0 20px;
    }
    .addprof-right {
      width: 100%;
      padding: 0 20px 20px 20px;
  }
    .addprof-sns i{
      margin-top:10px;
      font-size:2.0em;
      font-style:normal;
      letter-spacing:0.4em;
      color:#000;
   }
    .addprof-sns img{
      width:48px;
      border-radius: 50%;
   }
}
