メニュー/* はてなブログの追加css 見出し装飾用です */

/*メニュー スライダー用スタイル Swiper.js使用 */
.swiper{height:200px;}
.swiper-slide img{height:140px;width:100%;object-fit: cover;}

h3 {
  padding: 1rem 2rem;
  border-bottom: 3px solid #000;
  background: #f4f4f4;
}

h4 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}

/*コンテンツメニュー*/
.table-of-contents ul:before {
content: "Contents";
}
.table-of-contents ul{
  background:#f8f8ff;
  marghin:10;
  padding:10;
  
}
